<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>QuestionOverflow</title>
    <link rel="stylesheet" href="/styles.css" />
    <script
      src="https://kit.fontawesome.com/6e18d74916.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <nav>
      <h3>
        <ul>
          <li><a href="/" class="btn">DashBoard</a></li>
        </ul>
      </h3>
      <ul>
        <% if (user) { %>
        <li>
          <a
            href="/profile/<%= user._id %>"
            style="background-color: rgb(212, 211, 211); border-radius: 15px"
          >
            <b><i class="fas fa-user-circle"></i>Profile</b>
          </a>
        </li>
        <li>
          <a href="/logout" class="btn">
            LogOut
            <i class="fas fa-sign-out-alt"></i>
          </a>
        </li>
        <% } else { %>
        <li>
          <a
            href="/login"
            style="background-color: rgb(212, 211, 211); border-radius: 15px"
            >Log in</a
          >
        </li>
        <li><a href="/signup" class="btn">Sign up</a></li>
        <% } %>
      </ul>
    </nav>
  </body>
</html>
