<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/logo2.png" alt="" />
  </div>
  <div class="headings">
    <h2>Doubt : Resolve Them</h2>
    <h3>By Developers for Developers</h3>
    <a href="/smoothies" class="btn"
      >View Questions<i
        style="margin-left: 5px"
        class="fas fa-angle-double-right"
      ></i
    ></a>
  </div>
</header>

<%- include('partials/footer'); -%>
