<%- include('partials/header'); -%>
<script
  src="https://kit.fontawesome.com/6e18d74916.js"
  crossorigin="anonymous"
></script>
<div class="wrapper">
  <button type="button" class="btn-success">
    <div class="textC">Ask Question</div>
  </button>
  <div class="search-input">
    <a href="" target="_blank" hidden></a>
    <input type="text" placeholder="Type to search.." />
    <div class="icon"><i class="fas fa-search"></i></div>
  </div>
</div>

<ul class="recipes">
  <li class="recipe">
    <img src="/smoothie.png" alt="smoothie recipe icon" />
    <h4>Banana Boost</h4>
    <p>Banana, Vanilla ice cream, Milk</p>
  </li>
  <li class="recipe">
    <img src="/smoothie.png" alt="smoothie recipe icon" />
    <h4>Tropical Twist</h4>
    <p>Peach, Pinapple, Apple juice</p>
  </li>
  <li class="recipe">
    <img src="/smoothie.png" alt="smoothie recipe icon" />
    <h4>Protein Packer</h4>
    <p>Oats, Peanut butter, Milk, Banana, Blueberries</p>
  </li>
  <li class="recipe">
    <img src="/smoothie.png" alt="smoothie recipe icon" />
    <h4>Banana Boost</h4>
    <p>Banana, Vanilla ice cream, Milk</p>
  </li>
  <li class="recipe">
    <img src="/smoothie.png" alt="smoothie recipe icon" />
    <h4>Tropical Twist</h4>
    <p>Peach, Pinapple, Apple juice</p>
  </li>
  <li class="recipe">
    <img src="/smoothie.png" alt="smoothie recipe icon" />
    <h4>Protein Packer</h4>
    <p>Oats, Peanut butter, Milk, Banana, Blueberries</p>
  </li>
</ul>

<%- include('partials/footer'); -%>
