<%- include('partials/header'); -%>

<div class="addQuestion">
  <form class="AskQuestion">
    <h3>Post the Question</h3>
    <label for="email">Topic</label>
    <input type="text" name="topic" required />
    <div class="topic error"></div>
    <label for="link">Link</label>
    <input type="text" name="link" required />
    <button type="button" class="btn-success-sec">
      <div class="textC">Submit</div>
    </button>
  </form>
</div>
