<%- include('../partials/newheader'); -%>
    <div className="questionDisplay">
      <!-- Jumbotron -->
      <div class="p-5 text-left">
        <h2 class="mb-2">Question: <%= question.title %></h2>
        <a class="btn btn-dark" href="<%= question.link %>" role="button">
          Solve Question
        </a>
        <a class="btn btn-secondary" href="#" role="button"> Post Solution </a>
      </div>
      <!-- Jumbotron -->
    </div>
  </body>
</html>
